body{
    background-color: aquamarine;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-decoration: dotted;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #F05;
    color: blue;
    transition-delay: initial;
   /*display: inline; /*for changing it from block to inline element*/
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    text-decoration: dotted;
    text-transform: capitalize;
    text-shadow: 1px 1px 10px #F05;
    color: palevioletred;
}
img{
    border: 2px solid red;
    border-radius: 20%;
    float: initial;
}